<!DOCTYPE html>
<html lang="en">
  <div 
    style="
      position: relative;
      width: 5vw; 
      height: 22px; 
      text-align: right;
      background-color: black;
      margin: 1px 0;
      padding: 2px 6px;
      float: left;
      margin-top: 0.7%;
      ">
  </div>
  <div style="
        width: 0; 
        height: 0; 
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent; 
        border-left: 11px solid black; 
        float: left;
        margin: 1px 0;
        margin-top: 0.7%;
        ">
  </div>
</html>